body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    background-color: #000; /* Make the background black */
}

#webcam {
    display: none; /* Hide the webcam feed */
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}